<section>
  <div>
    <header>
      <h2><span>¿</span>Quienes somos<span>?</span></h2>
    </header>
    <p>
      Somos un equipo de profesionales dedicados a brindar soluciones creativas
      y visuales de alta calidad. Nuestra pasión por el diseño y la innovación
      nos impulsa a superar las expectativas de nuestros clientes.
    </p>
    <img src="" alt="" />
  </div>
</section>
