---
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
---

<section class="bg-light-blue section w-full px-5 py-16 lg:py-20">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-center md:flex-row md:gap-6"
  >
    <div class="flex-1">
      <header>
        <SectionTitle style="light" class="leading-[1.1]! anim-title">
          <span class="text-carnation">¿</span>Quienes somos<span
            class="text-carnation">?</span
          >
        </SectionTitle>
      </header>
      <Paragraph style="light" class="anim-element mt-4 max-w-md">
        Somos una agencia creativa especializada en diseño gráfico, fotografía y
        video profesional. Ofrecemos soluciones visuales y creativas de alta
        calidad, funcionales y pensadas para marcas, empresas y eventos.
      </Paragraph>
    </div>
    <div class="anim-element flex-1">
      <img src="./test-image.png" alt="" class="mt-16 rounded-2xl md:mt-0" />
    </div>
  </div>
</section>
