<section>
  <div>
    <header>
      <h2>Tu esencia hecha imagen</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <a href="">Contactanos</a>
    <img src="" alt="" />
  </div>
</section>
