---
import MainButton from '@/components/MainButton.astro';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
---

<section class="bg-light-lily section w-full px-5 py-16 lg:py-20">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-center md:flex-row-reverse md:gap-6 lg:gap-12"
  >
    <div class="anim-element flex-1">
      <header>
        <SectionTitle style="dark" mobile="true" class="anim-title">
          Tu esencia hecha imagen
        </SectionTitle>
      </header>
      <Paragraph style="dark" class="mt-4 max-w-md">
        Nos mueve el deseo de ayudar a nuestros clientes a construir una imagen
        sólida, coherente y visualmente atractiva, que no solo conecte de forma
        genuina con su público, sino que también refleje fielmente su
        personalidad, valores y esencia.
      </Paragraph>
      <Paragraph style="dark" class="mt-8 max-w-md">
        Creemos que una buena imagen no solo comunica, sino que deja huella, y
        por eso trabajamos cada detalle con intención, creatividad y estrategia.
      </Paragraph>
      <MainButton class="mt-8">¡Contactanos!</MainButton>
    </div>
    <div class="anim-element flex-1">
      <img
        src="/images/home/close/close-img1.webp"
        loading="lazy"
        alt="Image about the team of Nahual Studio"
        class="mt-16 rounded-2xl md:mt-0 md:rounded-3xl"
      />
    </div>
  </div>
</section>
