<section>
  <header>
    <h2>Diseño grafico</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa iste odit
    alias? Doloremque eius accusantium et, cum, facilis eum dolorum perferendis
    a impedit enim consequuntur culpa, repellendus numquam aspernatur magni.
  </p>
  <div>
    <article>
      <img src="" alt="" />
      <p>Creacion de identidad visual</p>
    </article>
  </div>
</section>
