---
import Brush from '@/assets/icons/brush.svg';
import Eye from '@/assets/icons/eye.svg';
import Facebook from '@/assets/icons/facebook.svg';
import FileText from '@/assets/icons/file-text.svg';
import Megaphone from '@/assets/icons/megaphone.svg';
import Tag from '@/assets/icons/tag.svg';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';

const DESIGN_SERVICES = [
  {
    title: 'Creaci칩n de identidad visual',
    icon: Eye,
  },
  {
    title: 'Creaci칩n de marca',
    icon: Brush,
  },
  {
    title: 'Briefing',
    icon: FileText,
  },
  {
    title: 'Branding',
    icon: Tag,
  },
  {
    title: 'Marketing digital',
    icon: Megaphone,
  },
  {
    title: 'Manejo de redes sociales',
    icon: Facebook,
  },
];
---

<section class="bg-light-lily section w-full px-5 py-16 lg:py-20">
  <div class="mx-auto max-w-6xl">
    <header>
      <SectionTitle style="dark" mobile="true" class="anim-title">
        Dise침o gr치fico
      </SectionTitle>
    </header>
    <Paragraph style="dark" class="anim-element mt-4 max-w-sm">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa iste odit
      alias? Doloremque eius accusantium et, cum, facilis eum dolorum
      perferendis a impedit enim consequuntur culpa, repellendus numquam
      aspernatur magni.
    </Paragraph>
    <div
      class="anim-element mx-auto mt-16 grid max-w-5xl grid-cols-2 gap-x-4 gap-y-16 md:grid-cols-3 md:gap-y-4"
    >
      {
        DESIGN_SERVICES.map(({ title, icon: Icon }) => (
          <div class="hover:bg-light-blue text-light-blue hover:text-light-lily flex flex-col items-center justify-center gap-4 rounded-3xl p-4 transition-colors duration-200">
            <Icon class="size-16 lg:size-20" />
            <span class="text-header-4-mobile font-tanker leading-header lg:text-header-4 text-balance text-center">
              {title}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</section>
