---
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import ServiceCard from '@/components/ServiceCard.astro';

const EVENTS = [
  {
    title: 'Eventos sociales',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'XV Años',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'Bodas',
    image: './test-image.png',
    link: '#',
  },
];
---

<section class="bg-light-lily w-full overflow-hidden px-5 py-16 lg:py-20">
  <div class="mx-auto max-w-6xl">
    <header>
      <SectionTitle style="dark" mobile="true">
        Cobertura de evento
      </SectionTitle>
    </header>
    <Paragraph style="dark" class="mt-4 max-w-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente error,
      eligendi illo praesentium alias voluptatibus dignissimos at repellendus
      repellat amet, animi tempore, tempora aperiam facilis laborum omnis hic
      natus numquam?
    </Paragraph>
    <ul
      class="no-scrollbar mx-auto mt-16 flex w-full gap-6 overflow-x-auto md:overflow-hidden"
    >
      {
        EVENTS.map((event) => (
          <li>
            <ServiceCard service={event} style="dark" size="medium" />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>
