<section>
  <div>
    <header>
      <h2>Cobertura de evento</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente error,
      eligendi illo praesentium alias voluptatibus dignissimos at repellendus
      repellat amet, animi tempore, tempora aperiam facilis laborum omnis hic
      natus numquam?
    </p>
    <div>
      <article>
        <a href="">
          <img src="" alt="" />
          <p>Eventos sociales</p>
        </a>
      </article>
      <article>
        <a href="">
          <img src="" alt="" />
          <p>Eventos sociales</p>
        </a>
      </article>
      <article>
        <a href="">
          <img src="" alt="" />
          <p>Eventos sociales</p>
        </a>
      </article>
    </div>
  </div>
</section>
