---
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import ServiceCard from '@/components/ServiceCard.astro';

const EVENTS = [
  {
    title: 'Eventos sociales',
    image: '/images/home/events/event-img1.webp',
    link: '#',
  },
  {
    title: 'XV Años',
    image: '/images/home/events/event-img2.webp',
    link: '#',
  },
  {
    title: 'Bodas',
    image: '/images/home/events/event-img3.webp',
    link: '#',
  },
];
---

<section
  class="bg-light-lily section w-full overflow-hidden px-5 py-16 lg:py-20"
>
  <div class="mx-auto max-w-6xl">
    <header>
      <SectionTitle style="dark" mobile="true" class="anim-title">
        Cobertura de evento
      </SectionTitle>
    </header>
    <Paragraph style="dark" class="anim-element mt-4 max-w-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente error,
      eligendi illo praesentium alias voluptatibus dignissimos at repellendus
      repellat amet, animi tempore, tempora aperiam facilis laborum omnis hic
      natus numquam?
    </Paragraph>
    <ul
      class="no-scrollbar anim-element mx-auto mt-16 flex w-full touch-pan-x gap-6 overflow-x-auto md:overflow-hidden"
    >
      {
        EVENTS.map((event) => (
          <li class="w-full">
            <ServiceCard service={event} style="dark" size="medium" />
          </li>
        ))
      }
    </ul>
  </div>
</section>
