---
import ServiceCard from '@/components/ServiceCard.astro';

const EVENTS = [
  {
    title: 'Eventos sociales',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'XV Años',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'Bodas',
    image: './test-image.png',
    link: '#',
  },
];
---

<section class="bg-light-lily w-full overflow-hidden px-5 py-16">
  <div class="max-w-6xl">
    <header>
      <h2
        class="font-tanker text-header-2-mobile text leading-header text-light-blue"
      >
        Cobertura de evento
      </h2>
    </header>
    <p class="leading-paragraph text-light-blue mt-4 text-pretty">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente error,
      eligendi illo praesentium alias voluptatibus dignissimos at repellendus
      repellat amet, animi tempore, tempora aperiam facilis laborum omnis hic
      natus numquam?
    </p>
    <div class="mt-16 flex w-max gap-6 overflow-x-scroll">
      {EVENTS.map((event) => <ServiceCard service={event} />)}
    </div>
  </div>
</section>
