---
import MainButton from '@/components/MainButton.astro';
import Paragraph from '@/components/Paragraph.astro';
---

<section
  class="bg-light-lily flex w-full flex-col items-center justify-center px-5 py-16 lg:pb-0 lg:pt-20"
>
  <div
    class="from-light-blue via-light-lily flex w-full max-w-6xl flex-col justify-between rounded-3xl bg-gradient-to-b from-10% via-50% to-transparent to-80% md:flex-row-reverse md:gap-6 md:bg-none"
  >
    <div
      class="bg-gradient h-[614px] w-full flex-1 p-3 md:rounded-[42px] md:p-6 lg:pb-0"
      id="photos-container"
    >
      <div class="relative h-56 w-full md:h-96">
        <img
          src="./test-image.png"
          alt=""
          class="absolute inset-0 h-full w-full rounded-2xl object-cover md:rounded-3xl"
        />
        <img
          src="./src/assets/images/boda-hero.png"
          alt=""
          class="absolute inset-0 h-full w-full rounded-2xl object-cover md:rounded-3xl"
        />
        <img
          src="./src/assets/images/boda-1.png"
          alt=""
          class="absolute inset-0 h-full w-full rounded-2xl object-cover md:rounded-3xl"
        />
        <img
          src="./src/assets/images/collage.jpg"
          alt=""
          class="absolute inset-0 h-full w-full rounded-2xl object-cover md:rounded-3xl"
        />
      </div>
    </div>
    <div class="flex-1">
      <h1
        id="title"
        class="text-light-blue font-tanker leading-header text-header-1-mobile lg:text-header-1 mt-6 text-balance"
      >
        Creatividad que impacta
      </h1>
      <Paragraph style="dark" class="fade mt-4 max-w-md">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto in
        fuga ad. Non esse doloremque, explicabo dolore iusto cumque odio vero
        sed voluptatibus. Sequi modi natus, quam officia ratione recusandae.
      </Paragraph>
      <MainButton class="fade mt-8 delay-300">¡Agenda ahora!</MainButton>
    </div>
  </div>
</section>

<style>
  @media (min-width: 768px) {
    .bg-gradient {
      background: linear-gradient(
        to bottom,
        #008ddc 20%,
        #e6f7fb 95%,
        transparent 100%
      );
    }
  }
</style>

<script>
  import { gsap } from 'gsap';
  import { SplitText } from 'gsap/SplitText';

  gsap.registerPlugin(SplitText);

  const title = document.querySelector('#title');
  const photosContainer = document.querySelector('#photos-container');

  const text = new SplitText(title, { type: 'words, chars' });

  const tl = gsap.timeline();
  // Animacion de inicio
  tl.from(text.chars, {
    duration: 0.4,
    autoAlpha: 0,
    y: 50,
    x: -10,
    stagger: 0.04,
  }).from(
    photosContainer,
    {
      opacity: 0,
      duration: 0.4,
      y: 40,
      ease: 'power2.out',
    },
    '<+=0.5',
  );

  // Animacion de carrosel de imagenes

  const images = photosContainer?.querySelectorAll('img');
  if (images) {
    const tl2 = gsap.timeline({
      repeat: -1,
      defaults: { ease: 'power2.inOut' },
    });

    const mm = gsap.matchMedia();

    // Mobile
    mm.add('(max-width: 768px)', () => {
      tl2.from(images, {
        y: 100,
        opacity: 0,
        stagger: 7,
        duration: 1,
      });
      tl2.to(images, {
        opacity: 0,
        duration: 1,
        stagger: 1,
      });
    });
    
    // Desktop
    mm.add('(min-width: 769px)', () => {
      tl2.from(images, {
        y: 250,
        opacity: 0,
        stagger: 7,
        duration: 1,
      });
      tl2.to(images, {
        opacity: 0,
        duration: 1,
        stagger: 1,
      });
    });
  }
</script>
