---
import MainButton from '@/components/MainButton.astro';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import ServiceCard from '@/components/ServiceCard.astro';

const SESSIONS = [
  {
    title: 'Sesión de cumpleaños',
    image: '/images/home/sessions/session-img1.webp',
    link: '/sesion/cumpleaños',
  },
  {
    title: 'Fotografía interior',
    image: '/images/home/sessions/session-img2.webp',
    link: '/fotografia/interior',
  },
  {
    title: 'Fotografía Gastronómica',
    image: '/images/home/sessions/session-img3.webp',
    link: '/fotografia/gastronomica',
  },
];
---

<section class="bg-light-blue section w-full px-5 py-16 lg:py-20">
  <div class="mx-auto max-w-6xl">
    <ul
      class="no-scrollbar anim-element mx-auto flex w-full gap-6 overflow-x-auto md:overflow-hidden"
    >
      {
        SESSIONS.map((session) => (
          <li class="w-full">
            <ServiceCard service={session} style="light" size="large" />
          </li>
        ))
      }
    </ul>
    <SectionTitle style="light" mobile="true" class="anim-title mt-16">
      Sesiones y fotografías
    </SectionTitle>
    <Paragraph style="light" class="anim-element mt-4 max-w-lg">
      En Nahual Studio capturamos los momentos más importantes de tu vida con un
      toque artístico y profesional. Realizamos sesiones personalizadas que se
      adaptan a tu estilo y personalidad: desde cumpleaños y retratos familiares
      hasta fotografía gastronómica, de producto o interior.
    </Paragraph>
    <Paragraph style="light" class="anim-element mt-4 max-w-lg">
      Nuestro equipo se encarga de cada detalle cómo la iluminación, encuadre y
      edición, para que cada imagen transmita emociones reales y cuente tu
      historia. Haz de cada recuerdo una obra de arte.
    </Paragraph>
    <MainButton
      class="mt-8"
      url="https://wa.me/529624810574?text=¡Hola,%20quiero%20más%20información!"
      >¡Agenda ahora!</MainButton
    >
  </div>
</section>
