<section>
  <div>
    <div>
      <article>
        <a href="">
          <img src="" alt="" />
          <p>Sesion de cumpleaños</p>
        </a>
      </article>
    </div>
    <h2>Sesiones y fotografias</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni minus
      eaque nostrum. Laboriosam, velit ducimus perspiciatis saepe nisi quaerat
      quod dignissimos harum recusandae reiciendis numquam voluptates veniam
      placeat debitis est!
    </p>
    <a href="">Agenda ahora</a>
  </div>
</section>
