---
import MainButton from '@/components/MainButton.astro';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import ServiceCard from '@/components/ServiceCard.astro';

const SESSIONS = [
  {
    title: 'Sesion de cumpleaños',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'Fotografía interior',
    image: './test-image.png',
    link: '#',
  },
  {
    title: 'Fotografía Gastronómica',
    image: './test-image.png',
    link: '#',
  },
];
---

<section class="bg-light-blue w-full px-5 py-16">
  <div class="max-w-6xl">
    <ul class="no-scrollbar mt-16 flex w-full gap-6 overflow-x-auto">
      {
        SESSIONS.map((session) => (
          <li>
            <ServiceCard service={session} style="light" size="large" />
          </li>
        ))
      }
    </ul>
    <SectionTitle style="light" mobile="true" class="mt-16">
      Sesiones y fotografías
    </SectionTitle>
    <Paragraph style="light" class="mt-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni minus
      eaque nostrum. Laboriosam, velit ducimus perspiciatis saepe nisi quaerat
      quod dignissimos harum recusandae reiciendis numquam voluptates veniam
      placeat debitis est!
    </Paragraph>
    <MainButton class="mt-8">¡Agenda ahora!</MainButton>
  </div>
</section>

<style>
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>
