---
import Quotation from '@/assets/icons/quotation.svg';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
---

<section class="bg-light-blue w-full px-5 py-16">
  <div class="max-w-6xl">
    <article class="bg-light-lily rounded-2xl p-6">
      <Quotation />

      <Paragraph style="dark" class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio
        dolorum culpa sint iure! Voluptatum vero, dolor cumque maiores
        consequatur quod beatae modi placeat corrupti autem quisquam aliquid
        quaerat sunt.
      </Paragraph>
      <footer class="mt-6 flex items-center gap-3.5">
        <img
          src="./test-image.png"
          alt=""
          class="size-12 rounded-full object-cover"
        />
        <div>
          <p class="text-light-blue font-general-sans font-semibold">
            Javier Zavala
          </p>
          <p class="text-light-blue font-general-sans text-[15px]">
            Fiesta de XV anos
          </p>
        </div>
      </footer>
    </article>
    <SectionTitle style="light" mobile="true" class="mt-16">
      Testimonios
    </SectionTitle>
    <Paragraph style="light" class="mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci commodi
      illo placeat necessitatibus consectetur ducimus voluptates dolorum vel,
      harum earum praesentium laudantium esse dolor? Ad dignissimos quia aperiam
    </Paragraph>
  </div>
</section>
