<section>
  <article>
    <span>''</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio
      dolorum culpa sint iure! Voluptatum vero, dolor cumque maiores consequatur
      quod beatae modi placeat corrupti autem quisquam aliquid quaerat sunt.
    </p>
    <footer>
      <img src="" alt="" />
      <div>
        <p>Nombre del cliente</p>
        <p>Ocupacion del cliente</p>
      </div>
    </footer>
  </article>
  <h2>Testimonios</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci commodi
    illo placeat necessitatibus consectetur ducimus voluptates dolorum vel,
    harum earum praesentium laudantium esse dolor? Ad dignissimos quia aperiam
    blanditiis dolorum?
  </p>
</section>
