---
import Left from '@/assets/icons/left.svg';
import Right from '@/assets/icons/right.svg';
import Paragraph from '@/components/Paragraph.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import Testimonial from '@/components/Testimonial.astro';

const TESTIMONIALS = [
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio dolorum culpa sint iure! Voluptatum vero, dolor cumque maiores consequatur quod beatae modi placeat corrupti autem quisquam aliquid quaerat sunt.',
    // image: './test-image.png',
    author: 'Javier Zavala',
    jobTitle: 'Fiesta de XV anos',
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio dolorum culpa sint iure! Voluptatum vero, dolor cumque maiores consequatur quod',
    // image: './test-image.png',
    author: 'Dick Head Zavala',
    jobTitle: 'Fiesta de XV anos',
  },
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio dolorum culpa sint iure! Voluptatum vero, dolor cumque maiores consequatur quod beatae modi placeat corrupti autem quisquam aliquid quaerat sunt.',
    // image: './test-image.png',
    author: 'Puta Gutierrez Zavala',
    jobTitle: 'Fiesta de XV anos',
  },
];
---

<section class="bg-light-blue section w-full px-5 py-16 lg:py-20">
  <div
    class="mx-auto max-w-6xl md:flex md:flex-row-reverse md:items-center md:justify-center md:gap-6"
  >
    <div class="anim-element flex flex-1 items-center gap-2 lg:gap-4">
      <button
        id="prev-btn"
        class="text-light-lily hover:text-carnation hidden cursor-pointer transition-all duration-200 md:block"
      >
        <Left class="size-8" />
      </button>
      <ul
        id="testimonial-list"
        class="no-scrollbar relative flex h-[348px] w-full items-center gap-6 overflow-x-auto md:overflow-hidden"
      >
        {
          TESTIMONIALS.map((testimonial) => (
            <li class="testimonial h-full w-full md:opacity-0">
              <Testimonial {...testimonial} />
            </li>
          ))
        }
      </ul>
      <button
        id="next-btn"
        class="text-light-lily hover:text-carnation hidden size-8 cursor-pointer transition-all duration-200 md:block"
      >
        <Right class="size-8" />
      </button>
    </div>
    <div class="flex-1">
      <SectionTitle
        style="light"
        mobile="true"
        class="anim-title mt-16 md:mt-0"
      >
        Testimonios
      </SectionTitle>
      <Paragraph style="light" class="anim-element mt-4 max-w-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        commodi illo placeat necessitatibus consectetur ducimus voluptates
        dolorum vel
      </Paragraph>
    </div>
  </div>
</section>

<style>
  .disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
</style>

<script>
  import { gsap } from 'gsap';

  function initTestimonialAnimation() {
    const mm = gsap.matchMedia();

    mm.add('(min-width: 768px)', () => {
      const testimonials = document.querySelectorAll('.testimonial');
      const prevBtn = document.querySelector('#prev-btn') as HTMLButtonElement;
      const nextBtn = document.querySelector('#next-btn') as HTMLButtonElement;

      let currentIndex = 0;

      gsap.set(testimonials[currentIndex], { autoAlpha: 1 });

      function disabledButton(button: HTMLButtonElement) {
        button.setAttribute('disabled', 'true');
        button.classList.add('disabled');
      }

      function enableButton(button: HTMLButtonElement) {
        button.removeAttribute('disabled');
        button.classList.remove('disabled');
      }

      function showTestimonial(newIndex: number) {
        if (newIndex === currentIndex) return;

        const current = testimonials[currentIndex];
        const next = testimonials[newIndex];

        const tl = gsap.timeline({
          onStart: () => {
            disabledButton(prevBtn);
            disabledButton(nextBtn);
          },
          onComplete: () => {
            enableButton(nextBtn!);
            enableButton(prevBtn!);
          },
        });

        tl.to(current, { autoAlpha: 0, duration: 0.5 }).to(
          next,
          { autoAlpha: 1, duration: 0.5 },
          '<+=0.3',
        );

        currentIndex = newIndex;
      }

      nextBtn?.addEventListener('click', () => {
        const newIndex = (currentIndex + 1) % testimonials.length;
        showTestimonial(newIndex);
      });

      prevBtn?.addEventListener('click', () => {
        const newIndex =
          (currentIndex - 1 + testimonials.length) % testimonials.length;
        showTestimonial(newIndex);
      });
    });
  }

  initTestimonialAnimation();
  document.addEventListener('astro:after-swap', () =>
    initTestimonialAnimation(),
  );
</script>
