@import url('tanker.css');
@import url('general-sans.css');
@import 'tailwindcss';

@theme {
  --color-light-blue: #008ddc;
  --color-dark-blue: #072e4a;
  --color-light-lily: #e6f7fb;
  --color-dark-lily: #3eaad2;
  --color-carnation: #ff6b6b;
  --color-slate-gray: #74838d;
  --color-athens-gray: #f2f4f8;

  --font-tanker: 'Tanker-Regular';
  --font-general-sans: 'GeneralSans-Variable';

  --text-header-1: 89px;
  --text-header-2: 67px;
  /* --text-header-3: 50px; */
  --text-header-4: 37px;

  --text-header-1-mobile: 75px;
  --text-header-2-mobile: 53px;
  --text-header-4-mobile: 30px;

  --leading-header: 96%;
  --leading-paragraph: 180%;

  --radius-image: 26px;
  --radius-button: 6px;
}

