---
interface Props {
  backdrop: string;
}

const { backdrop } = Astro.props;
---

<section
  class="h-dvh bg-cover bg-center bg-no-repeat"
  style={`background-image: url(${backdrop});`}
>
  <div class="relative h-full w-full bg-black/40">
    <slot />
  </div>
</section>
