---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section
    class="bg-light-lily xl:gap-26 md:py-17 lg:py-18 lg:px-17 flex h-dvh flex-col px-5 py-16 md:flex-row md:items-center md:justify-center md:gap-8 md:px-11 lg:gap-16 xl:px-24 xl:py-20"
  >
    <h1
      class="text-light-blue font-tanker leading-header text-header-1-mobile lg:text-header-1"
    >
      404 - Not Found
    </h1>
    <p>Sorry, the page you requested could not be found.</p>
  </section>
</Layout>
