---
import MainButton from '@/components/MainButton.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section
    class="bg-light-lily relative flex min-h-dvh items-center justify-center px-5 py-16"
  >
    <aside class="absolute top-0 flex w-full items-start">
      <progress id="progress" max="100" value="0" class="w-full text-xs"
      ></progress>
    </aside>
    <form action="" class="w-full max-w-md" id="contact-form">
      <div class="step active">
        <fieldset class="flex flex-col items-center justify-center">
          <div class="max-w-2xs flex items-center justify-center">
            <label
              for="name"
              class="font-tanker text-light-blue text-header-4-mobile lg:text-header-4 leading-header text-balance text-center"
              >Escribe tu nombre y apellido</label
            >
          </div>
          <div
            class="input-container mt-4 flex w-full flex-col items-center md:mt-8"
          >
            <input
              type="text"
              id="name"
              name="name"
              class="border-light-blue focus:outline-dark-lily font-general-sans text-light-blue w-full border-b-2 px-2 pb-0.5 pt-2 font-medium"
            />
          </div>
          <button
            type="button"
            class="next bg-light-blue text-light-lily font-general-sans hover:bg-dark-blue mt-8 cursor-pointer rounded-lg px-9 py-2 font-semibold transition-colors duration-200"
          >
            Siguiente
          </button>
        </fieldset>
      </div>
      <div class="step hidden">
        <fieldset class="flex flex-col items-center justify-center">
          <div class="max-w-2xs flex items-center justify-center">
            <label
              for="email"
              class="font-tanker text-light-blue text-header-4-mobile lg:text-header-4 leading-header text-balance text-center"
              >Escribe tu correo electrónico</label
            >
          </div>
          <div
            class="input-container mt-4 flex w-full flex-col items-center md:mt-8"
          >
            <input
              type="email"
              id="email"
              name="email"
              class="border-light-blue focus:outline-dark-lily font-general-sans text-light-blue w-full border-b-2 px-2 pb-0.5 pt-2 font-medium"
            />
          </div>
          <footer
            class="font-general-sans mt-8 flex w-full justify-around font-semibold"
          >
            <button
              type="button"
              class="prev border-light-blue text-light-blue hover:bg-dark-blue hover:text-light-lily hover:border-dark-blue cursor-pointer rounded-lg border-2 px-9 py-2 transition-colors duration-200"
            >
              Retroceder
            </button>
            <button
              type="button"
              class="next bg-light-blue text-light-lily hover:bg-dark-blue cursor-pointer rounded-lg px-9 py-2 transition-colors duration-200"
            >
              Siguiente
            </button>
          </footer>
        </fieldset>
      </div>
      <div class="step hidden">
        <fieldset class="flex flex-col items-center justify-center">
          <div class="max-w-2xs flex items-center justify-center">
            <label
              for="message"
              class="font-tanker text-light-blue text-header-4-mobile lg:text-header-4 leading-header text-balance text-center"
              >Escribe tu mensaje</label
            >
          </div>
          <div
            class="input-container mt-4 flex w-full flex-col items-center md:mt-8"
          >
            <input
              type="text"
              id="message"
              name="message"
              class="border-light-blue focus:outline-dark-lily font-general-sans text-light-blue w-full border-b-2 px-2 pb-0.5 pt-2 font-medium"
            />
          </div>
          <footer
            class="font-general-sans mt-8 flex w-full justify-around font-semibold"
          >
            <button
              type="button"
              class="prev border-light-blue text-light-blue hover:bg-dark-blue hover:text-light-lily hover:border-dark-blue cursor-pointer rounded-lg border-2 px-9 py-2 transition-colors duration-200"
            >
              Retroceder
            </button>
            <button
              type="submit"
              id="submit"
              class="bg-light-blue text-light-lily hover:bg-dark-blue cursor-pointer rounded-lg px-9 py-2 transition-colors duration-200"
            >
              Enviar
            </button>
          </footer>
        </fieldset>
      </div>
    </form>
    <div class="hidden w-full max-w-xl text-center" id="success-advise">
      <div class="mb-8">
        <h2
          class="text-light-blue font-tanker leading-header text-header-2-mobile lg:text-header-2 mb-4 uppercase"
        >
          Tu información se ha enviado correctamente
        </h2>
        <p class="text-light-blue leading-paragraph font-general-sans">
          Te estaremos contactando lo mas pronto posible. Agradecemos su interés
          en nuestros servicios.
        </p>
      </div>
      <MainButton url="/" class="mx-auto" noblank
        >Ir a la página principal</MainButton
      >
    </div>
  </section>
</Layout>

<style>
  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value {
    background-color: #072e4a;
  }

  progress::-moz-progress-bar {
    background-color: #3eaad2;
  }
</style>

<script src="/src/scripts/contact_form.js"></script>
