---
import Layout from '@/layouts/Layout.astro';
import AboutUs from '@/sections/home/AboutUs.astro';
import CloseSection from '@/sections/home/CloseSection.astro';
import DesignServices from '@/sections/home/DesignServices.astro';
import Events from '@/sections/home/Events.astro';
import Hero from '@/sections/home/Hero.astro';
import Sessions from '@/sections/home/Sessions.astro';
import Testimonials from '@/sections/home/Testimonials.astro';
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import { SplitText } from 'gsap/SplitText';
---

<Layout>
  <main>
    <Hero />
    <AboutUs />
    <Events />
    <Sessions />
    <DesignServices />
    <Testimonials />
    <CloseSection />
  </main>
</Layout>

<script src="/src/scripts/section-opacity-animation.js"></script>
