<!-- 
<>
  <input type="checkbox" id="dropdown" hidden />
  <label for="dropdown"> Servicios </label>

  <ul
    id="drop-menu"
    class="bg-light-lily text-light-blue absolute top-0 rounded-b-[14px] p-2"
  >
    <li>TEST</li>
    <li>TEST</li>
    <li>TEST</li>
    <li>TEST</li>
  </ul>
</>

<style>
  #drop-menu {
    display: none;
  }

  #dropdown:checked ~ #drop-menu {
    display: block;
  }
</style> -->
