---
import Logo from '@/assets/icons/logo.svg';
import Menu from '@/assets/icons/menu.svg';
import X from '@/assets/icons/x.svg';
---

<header
  class="bg-light-lily flex items-center justify-between px-5 py-[14px] md:px-24 md:py-3"
>
  <a href="/">
    <Logo class={'text-light-blue'} />
    <span class="sr-only">Logo de Nahual Studio</span>
  </a>

  <label for="bars-button" class="md:hidden">
    <Menu class={'size-8 text-light-blue'} />
  </label>
  <input type="radio" id="bars-button" name="bars" hidden />

  <nav
    id="navbar"
    class="bg-light-blue fixed right-0 top-0 z-10 h-dvh w-[80%] drop-shadow-lg md:static md:h-fit md:w-fit md:bg-transparent md:drop-shadow-none"
  >
    <div
      class="flex items-center justify-between px-[10px] py-[14px] md:hidden"
    >
      <a href="/">
        <Logo class={'text-light-lily'} />
        <span class="sr-only">Logo de Nahual Studio</span>
      </a>

      <label for="cross-button" class="md:hidden">
        <X class={'size-8 text-light-lily'} />
      </label>
      <input type="radio" id="cross-button" name="bars" hidden />
    </div>

    <ul
      class="text-light-lily md:text-light-blue font-general-sans space-y-4 px-5 py-[18px] md:flex md:items-center md:space-x-8 md:space-y-0 md:px-0 md:py-0"
    >
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/">Servicios</a>
      </li>
      <li>
        <a href="/acerca">Acerca de</a>
      </li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  @media (max-width: 767px) {
    #navbar {
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
    }

    #bars-button:checked ~ #navbar {
      transform: translateX(0%);
    }
  }
</style>
