---
import ChevronDown from '@/assets/icons/chevron-down.svg';
import Logo from '@/assets/icons/logo.svg';
import Menu from '@/assets/icons/menu.svg';
import X from '@/assets/icons/x.svg';

const services = [
  {
    name: 'Cobertura de eventos sociales',
    href: '/cobertura/eventos-sociales',
  },
  {
    name: 'Cobertura de XV años',
    href: '/cobertura/xv-años',
  },
  {
    name: 'Cobertura de bodas',
    href: '/cobertura/bodas',
  },
  {
    name: 'Cobertura de bautizo',
    href: '/cobertura/bautizo',
  },
  {
    name: 'Sesión de cumpleaños',
    href: '/sesion/cumpleaños',
  },
  {
    name: 'Fotografía de interior',
    href: '/fotografia/interior',
  },
  {
    name: 'Fotografía gastronómica',
    href: '/fotografia/gastronomica',
  },
  {
    name: 'Creación de marca',
    href: '/diseño/creacion-marca',
  },
];
---

<header
  class="bg-light-lily flex items-center justify-center px-5 py-[14px] md:justify-between md:px-24 md:py-3"
>
  <a href="/" title="Ir a la página de inicio de Nahual Studio">
    <Logo class={'text-light-blue'} />
    <span class="sr-only">Logo de Nahual Studio </span>
  </a>

  <label for="menu-button" class="absolute right-5 md:hidden">
    <Menu class={'size-8 text-light-blue'} />
  </label>
  <input type="radio" id="menu-button" name="menu" hidden />

  <nav
    id="navbar"
    class="bg-light-blue fixed right-0 top-0 z-20 h-dvh w-[80%] drop-shadow-lg md:static md:h-fit md:w-fit md:bg-transparent md:drop-shadow-none"
  >
    <div
      class="flex items-center justify-between px-[10px] py-[14px] md:hidden"
    >
      <a href="/">
        <Logo class={'text-light-lily'} />
        <span class="sr-only">Logo de Nahual Studio</span>
      </a>

      <label for="close-button" class="md:hidden">
        <X class={'size-8 text-light-lily'} />
      </label>
      <input type="radio" id="close-button" name="menu" hidden />
    </div>

    <ul
      class="text-light-lily md:text-light-blue font-general-sans space-y-4 px-5 py-[18px] md:flex md:items-center md:space-x-8 md:space-y-0 md:px-0 md:py-0 md:drop-shadow-lg"
    >
      <li>
        <a href="/">Inicio</a>
      </li>
      <li class="relative">
        <label
          class="group peer flex cursor-pointer select-none items-center justify-between md:justify-normal md:gap-4"
        >
          <span>Servicios</span>
          <ChevronDown
            class="group-has-checked:scale-y-[-1] transition-all duration-500 ease-in-out"
          />
          <input type="checkbox" id="dropdown" hidden />
        </label>

        <ul
          id="services-menu"
          class="md:bg-light-lily md:text-light-blue peer-has-checked:block hidden w-full space-y-4 pt-4 md:absolute md:top-[59px] md:w-52 md:gap-3 md:space-y-0 md:rounded-b-[14px] md:p-2"
        >
          {
            services?.map((service) => (
              <li>
                <a
                  href={service.href}
                  class="md:hover:text-light-lily md:hover:bg-dark-lily md:rounded-button block w-full md:p-2"
                >
                  {service.name}
                </a>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <a href="/acerca">Acerca de</a>
      </li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
    </ul>
  </nav>

  <div
    id="menu-overlay"
    class="fixed inset-0 z-10 hidden bg-black/40 md:hidden"
  >
  </div>
</header>
<style>
  @media (max-width: 767px) {
    #navbar {
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
    }

    #menu-button:checked ~ #navbar {
      transform: translateX(0%);
    }

    #menu-button:checked ~ #menu-overlay {
      display: block;
    }

    #menu-button:checked ~ body {
      overflow: hidden !important;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const dropdown = document.getElementById('dropdown') as HTMLInputElement;
    const menu = document.getElementById('menu-button') as HTMLInputElement;
    const navbar = document.getElementById('navbar');
    const radios =
      document.querySelectorAll<HTMLInputElement>('input[name="menu"]');

    radios.forEach((radio) => {
      radio.addEventListener('change', () => {
        const menu = document.getElementById('menu-button') as HTMLInputElement;

        if (menu.checked) {
          document.body.classList.add('overflow-hidden');
        } else {
          document.body.classList.remove('overflow-hidden');
        }
      });
    });

    window.addEventListener('resize', () => {
      menu.checked = false;
      dropdown.checked = false;
    });

    document.addEventListener('click', (event) => {
      if (navbar) {
        const isClickInside = navbar.contains(event.target as Node);
        if (!isClickInside && dropdown) {
          dropdown.checked = false;
        }
      }
    });
  });
</script>
