---
const { class: className, style } = Astro.props;
---

<p
  class:list={[
    'leading-paragraph text-pretty',
    className,
    {
      'text-light-lily': style === 'light',
      'text-light-blue': style === 'dark',
    },
  ]}
>
  <slot />
</p>
