---
const { class: className, style } = Astro.props;
---

<h2
  class:list={[
    'font-tanker leading-header text-header-2-mobile md:text-header-2',
    className,
    {
      'text-light-lily': style === 'light',
      'text-light-blue': style === 'dark',
    },
  ]}
>
  <slot />
</h2>
