---
const { service, style, size } = Astro.props;
const { title, image, link } = service;
---

<article class="w-60">
  <a href={link}>
    <img
      src={image}
      alt={`Cobertura de ${title}`}
      class:list={[
        'w-full rounded-2xl object-cover',
        {
          'h-80': size === 'large',
          'h-64': size === 'medium',
        },
      ]}
    />
    <p
      class:list={[
        'font-tanker text-header-4-mobile leading-header mt-2',
        {
          'text-light-blue': style === 'dark',
          'text-light-lily': style === 'light',
        },
      ]}
    >
      {title}
    </p>
  </a>
</article>
