<footer>
  <div>
    <img src="" alt="" />
    <div>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
  <div>
    <div>
      <header><p>Coberturas</p></header>
      <ul>
        <li><a href="">Cobertura de eventos</a></li>
        <li><a href="">Cobertura de boda2</a></li>
        <li><a href="">Cobertura de XV años</a></li>
      </ul>
    </div>
    <div>
      <header>
        <p>Sesiones</p>
        <ul>
          <li><a href="">Sesion de cumpleaños</a></li>
        </ul>
      </header>
    </div>
  </div>
  <div>
    <div>
      <header>
        <p>Fotografias</p>
      </header>
      <ul>
        <li>
          <a href="">Fotografia de Interior</a>
        </li>
        <li>
          <a href="">Fotografia Gastronomica</a>
        </li>
      </ul>
    </div>
    <div>
      <header>
        <p>Diseño</p>
      </header>
      <ul>
        <li>
          <a href="">Creacion de marca</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <a href="">Acerca de </a>
    <a href="">Contacto</a>
  </div>
  <div>© 2025 Nahual Studios. Todos los derechos reservados.</div>
</footer>
