---
import Facebook from '@/assets/icons/facebook-footer.svg';
import Instagram from '@/assets/icons/instagram.svg';
import Logo from '@/assets/icons/logo.svg';
import TikTok from '@/assets/icons/tiktok.svg';
import WhatsApp from '@/assets/icons/whatsapp.svg';
import FooterLink from '@/components/FooterLink.astro';

const SOCIALS = [
  {
    url: 'https://www.facebook.com/profile.php?id=61569567776280',
    icon: {
      src: Facebook,
      name: 'Facebook',
    },
  },
  {
    url: 'https://www.instagram.com/nahualstudiofficial/',
    icon: {
      src: Instagram,
      name: 'Instagram',
    },
  },
  {
    url: 'https://wa.me/529624810574?text=¡Hola,%20quiero%20m%C3%A1s%20informaci%C3%B3n!',
    
    icon: {
      src: WhatsApp,
      name: 'WhatsApp',
    },
  },
  {
    url: 'https://www.tiktok.com/@nahualstudi0',
    icon: {
      src: TikTok,
      name: 'TikTok',
    },
  },
];
---

<footer
  class="bg-dark-blue text-athens-gray font-general-sans px-5 py-8 font-light md:px-10 md:py-16"
>
  <div class="mx-auto flex max-w-6xl flex-col gap-8">
    <div class="flex items-center justify-between">
      <a href="/">
        <Logo class="h-16" />
      </a>
      <div class="flex gap-6">
        {
          SOCIALS.map(({ url, icon }) => (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              title={`Ir a ${icon.name}`}
              class="hover:text-light-blue transition-colors duration-200"
            >
              <icon.src class="size-6" />
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col gap-6 md:flex-row">
      <div class="flex flex-1 gap-6">
        <div class="flex-1">
          <header><p class="font-semibold">Coberturas</p></header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="/cobertura/eventos-sociales">
                Cobertura de Eventos
              </FooterLink>
            </li>
            <li>
              <FooterLink url="/cobertura/bodas">
                Cobertura de Bodas
              </FooterLink>
            </li>
            <li>
              <FooterLink url="/cobertura/xv-años">
                Cobertura de XV años
              </FooterLink>
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <header>
            <p class="font-semibold">Sesiones</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="/sesion/cumpleaños">
                Sesión de cumpleaños
              </FooterLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-8 flex flex-1 gap-6 md:mt-0">
        <div class="flex-1">
          <header>
            <p class="font-semibold">Fotografias</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="/sesion/fotografia-interior">
                Fotografía de Interior
              </FooterLink>
            </li>
            <li>
              <FooterLink url="/sesion/fotografia-gastronomica">
                Fotografía Gastronómica
              </FooterLink>
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <header>
            <p class="font-semibold">Diseño</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="/creacion-de-marca">
                Creación de marca
              </FooterLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-8 flex flex-1 gap-6 md:mt-0">
        <div class="flex-1">
          <a
            href="/acerca"
            class="hover:text-light-blue font-semibold transition-colors duration-200"
            >Acerca de
          </a>
        </div>
        <div class="flex-1">
          <a
            href="/contacto"
            class="hover:text-light-blue font-semibold transition-colors duration-200"
            >Contacto</a
          >
        </div>
      </div>
    </div>
    <div
      class="text-slate-gray mt-8 flex flex-col items-center justify-center gap-2 md:mt-16 md:flex-row"
    >
      <span>© 2025 Nahual Studios.</span>
      <span>Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
