---
import Facebook from '@/assets/icons/facebook-footer.svg';
import Instagram from '@/assets/icons/instagram.svg';
import Logo from '@/assets/icons/logo.svg';
import TikTok from '@/assets/icons/tiktok.svg';
import WhatsApp from '@/assets/icons/whatsapp.svg';
import FooterLink from '@/components/FooterLink.astro';

const SOCIALS = [
  {
    url: 'https://www.facebook.com/nahual.studios/',
    icon: Facebook,
  },
  {
    url: 'https://www.instagram.com/nahual.studios/',
    icon: Instagram,
  },
  {
    url: 'https://wa.me/1234567890',
    icon: WhatsApp,
  },
  {
    url: 'https://www.tiktok.com/@nahual.studios',
    icon: TikTok,
  },
];
---

<footer
  class="bg-dark-blue text-athens-gray font-general-sans px-5 py-8 font-light md:px-10 md:py-16"
>
  <div class="mx-auto flex max-w-6xl flex-col gap-8">
    <div class="flex items-center justify-between">
      <Logo class="h-16" />
      <div class="flex gap-6">
        {
          SOCIALS.map(({ url, icon: Icon }) => (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-light-blue transition-colors duration-200"
            >
              <Icon class="size-6" />
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col gap-6 md:flex-row">
      <div class="flex flex-1 gap-6">
        <div class="flex-1">
          <header><p class="font-semibold">Coberturas</p></header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="#"> Cobertura de Eventos </FooterLink>
            </li>
            <li>
              <FooterLink url="#"> Cobertura de Bodas </FooterLink>
            </li>
            <li>
              <FooterLink url="#"> Cobertura de XV años </FooterLink>
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <header>
            <p class="font-semibold">Sesiones</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="#"> Sesión de cumpleaños </FooterLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-8 flex flex-1 gap-6 md:mt-0">
        <div class="flex-1">
          <header>
            <p class="font-semibold">Fotografias</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="#"> Fotografía de Interior </FooterLink>
            </li>
            <li>
              <FooterLink url="#"> Fotografía Gastronómica </FooterLink>
            </li>
          </ul>
        </div>
        <div class="flex-1">
          <header>
            <p class="font-semibold">Diseño</p>
          </header>
          <ul class="mt-1.5 flex flex-col gap-2">
            <li>
              <FooterLink url="#"> Creación de marca </FooterLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-8 flex flex-1 gap-6 md:mt-0">
        <div class="flex-1">
          <a href="" class="font-semibold">Acerca de </a>
        </div>
        <div class="flex-1">
          <a href="" class="font-semibold">Contacto</a>
        </div>
      </div>
    </div>
    <div
      class="text-slate-gray mt-8 flex flex-col items-center justify-center gap-2 md:mt-16 md:flex-row"
    >
      <span>© 2025 Nahual Studios.</span>
      <span>Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
