---
import AnnouncementBar from '@/components/AnnouncementBar.astro';
import Header from '@/components/Header.astro';
import Footer from '@/sections/Footer.astro';
import '@/styles/global.css';
// import Analytics from '@vercel/analytics/astro';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Nahual Studio - Estudio de Diseño Gráfico</title>
    <meta
      name="description"
      content="Estudio de diseño gráfico especializado en branding y fotografía profesional. Creamos identidades visuales impactantes y atractivas para impulsar el crecimiento de tu marca."
    />
    <ClientRouter />
    <!-- <Analytics /> -->
  </head>
  <body>
    <Header />
    <AnnouncementBar />
    <slot />
    <Footer />
  </body>
</html>
